.create-group-screen {
  background: var(--base-grey);
}

.create-group-screen__header {
  position: absolute;
  top: var(--status-bar-h);
  left: 0;
  right: 0;
  padding: var(--space-sm) var(--content-padding);
  z-index: 5;
}
